.tarjeta {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
}

p, h3, h4{
    color: #cccccc;
}

a{
    color: #99ccff;
}


.tarjeta:hover{
    .gif{
        animation: rotar 1s forwards;
    }
    
}

@keyframes rotar{
    100%{
        transform: perspective(800px) rotateY(-2deg) scale(1.0) rotateX(0deg)
    }
}

@keyframes volver{
    100%{
        transform: perspective(800px) rotateY(-25deg) scale(.8) rotateX(10deg);
    }
}

 .informacion{
    padding-left: 13px;
 }
 .colaboradores{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.gif{
    z-index: 0;
    transform: perspective(800px) rotateY(-25deg) scale(.8) rotateX(10deg);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.gif img{
    width: 50%;
}

@media (max-width: 400px) {
    .tarjeta {
        flex-direction: column;
        height: 80vh
    }
    .informacion{
        margin-bottom: 5vh
    }
        
}